.image{

    border: 2px green solid;
    border-radius: 1000px;
}

.appbar{
    background-color:#7D5A50;
}


/* <Button
                  variant="contained"
                  component="label"
                >
                  Upload File
                  <input
                    type="file"
                    hidden
                  />
                </Button> */